<span *ngIf = "!editView">Title: {{post.title}}, Body: {{post.body}}</span>
<span *ngIf = "editView">
    Title: <input type="text" [(ngModel)] = "post.title">
    Body: <input type="text" [(ngModel)] = "post.body">
</span>
<button class = "btn" (click) = "toggleEdit()">{{editButton}}</button>
<button class = "btn" *ngIf = "editView" (click) = "cancelEdit()">Cancel</button>
<button class = "btn" (click) = "postDelete()" > Delete </button>
