<jce-post-form (postAddedEvent) = "addpost($event)"></jce-post-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>

<div>
   <ul class = "list-group users">
      <li *ngFor = "let post of posts" class = "list-group-item">
        <jce-post [post] = "post" (deleteEvant) = "DeleteFormPosts($event)" (updateEvant) = "updatePosts($event)" ></jce-post>
        <ul> 
            <li *ngFor = "let user of post.userName">
              {{(user | async)?.name}}
            </li>
        </ul>
      </li>
   </ul>

   
 </div>